<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JspBasic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
	<error-page>
		<error-code>404</error-code>
		<location>/Exception/error_404.jsp</location>
	</error-page>  
  	
  	
  	<error-page>
  		<exception-type>java.lang.NullPointerException</exception-type>
  		<location>/Exception/error_null.jsp</location>
  	</error-page>





	<!-- 서블릿 클래스를 등록하자 -->
	<servlet>
		<servlet-name>basic</servlet-name>   <!-- 이름은 마음대로 짓기~ -->
		<servlet-class>kr.co.jsp.servlet.ServletBasic</servlet-class> <!-- 경로적어주자~ (경로등록) -->
	</servlet>
	<!-- 서블릿 등록 -->	
	<servlet-mapping>
		<servlet-name>basic</servlet-name>
		<url-pattern>/basic</url-pattern>
	</servlet-mapping> <!-- servlet파일의 test_form.jsp로가자 -->


  
  
</web-app>